<h1>Project Repository Information</h1>
<table width="800">
	
	

	        <td rowspan="3"><%= image_tag @project_repository.document_url(:thumb).to_s %></td>
	
	<tr>
		<td><b>Name</b></td><td>
		<td><%=@project_repository.name%></td>
	</tr>
        <tr>
		<td><b>Document</b></td><td>
		<td><%=@project_repository.document%></td>
	</tr>
       	
</table>
</center>

  
