<table class = table "table-bordered"   cellspacing="0" cellpadding="0" >



<tr>
<td><b>User Id</b></td><td>
<td><%=@project_user.project.user.email%></td>
</tr>
<tr>
<td><b> Start date</b></td><td>
<td><%=@project_user.start_date%></td>
</tr>
<tr>
<td><b>End date</b></td><td>
<td><%=@project_user.end_date%></td>
</tr>





</table border>
</center>
